<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_TW</string>
	<key>CFBundleDisplayName</key>
	<string>農漁行動達人</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>農漁行動達人需要使用您的相機，以提供掃描轉帳、農漁行動Pay等功能與服務。</string>
	<key>NSFaceIDUsageDescription</key>
	<string>使用臉部辨識快速登入</string>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>選擇允許可搜尋「目前位置」附近的農漁會資訊！
提醒：持續在背景執行GPS可能會降低電池使用時間。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>選擇允許可搜尋「目前位置」附近的農漁會資訊！
提醒：持續在背景執行GPS可能會降低電池使用時間。</string>
	<key>NSLocationUsageDescription</key>
	<string>選擇允許可搜尋「目前位置」附近的農漁會資訊！
提醒：持續在背景執行GPS可能會降低電池使用時間。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>選擇允許可搜尋「目前位置」附近的農漁會資訊！
提醒：持續在背景執行GPS可能會降低電池使用時間。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>農漁行動達人需要存取您的照片，以提供讀取QR Code等功能與服務。</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
